* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.main-content {
  transition: margin-left 0.3s ease;
  margin-left: 0;
}

.main-content.shifted {
  overflow: hidden;
  margin-left: 190px;
}
.navbar {
  width: 100vw;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  position: relative;
  /* padding: 0 1rem; */
}

.left-section {
  display: flex;
  align-items: center;
  gap: 1rem;
  z-index: 1000;
}

.search-form {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-form input {
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  width: 250px;
  border: none;
  outline: none;
}

.login img {
  width: 2rem;
  height: 2rem;
}

.logo {
  margin-left: 1.5rem;
  margin-top: 1rem;
}

.logo img {
  width: 7rem;
  height: 7rem;
}

/* Sidebar menu */
.list-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100vh;
  background-color: white;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  z-index: 10;
}

.list-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.list-menu li {
  cursor: pointer;

  margin-bottom: 1rem;
  font-size: 1.2rem;
}

/* content.jsx style */
.container-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 1rem; /* jarak antar item */
  padding: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
}
.container-content li {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);

  border: 4px solid #0000005a;
  border-radius: 10px;
  list-style: none;
  margin-bottom: 1rem;
}

.content {
  background-color: rgb(0, 0, 0);
  height: auto;
  width: 300px; /* atur lebar tetap */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.img-content {
  width: 100%;
  height: auto;
  aspect-ratio: 2 / 3; /* atau sesuai proporsi ideal gambarnya */

  border-radius: 10px;
  object-fit: cover;
  display: block;
}

.span-content {
  font-size: 1.2rem;
  font-family: "Halvetica Neue";
  color: #ffffff;
  /* margin: 1rem 0 1rem 0; */
}
