* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.main-content {
  transition: margin-left 0.3s ease;
  margin-left: 0;
}

.main-content.shifted {
  overflow: hidden;
  margin-left: 190px;
}
.navbar {
  width: 100vw;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(16, 46, 80, 0.6);
  position: relative;
}

.left-section {
  display: flex;
  align-items: center;
  gap: 1rem;
  z-index: 1000;
}

.search-form {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-form input {
  background-color: transparent;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  width: 250px;
  border: none;
  outline: none;
}

.login-teks {
  display: inline;
  color: white;
  font-size: 1.2rem;
  font-weight: 800;
  cursor: pointer;
  margin-right: 3rem;
  font-family: "Helvetica Neue", sans-serif;
  text-decoration: none;
}

.logo {
  margin-left: 1.5rem;
  margin-top: 1rem;
}

.logo img {
  width: 7rem;
  height: 7rem;
}

/* Sidebar menu */
.list-menu {
  background-color: rgba(16, 46, 80, 0.6);

  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100vh;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  z-index: 10;
}

.list-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.list-menu li {
  cursor: pointer;
  color: #ffffff;
  margin-bottom: 1rem;
  font-size: 1.2rem;
}

.list-menu li:hover {
  color: #ff942a;
  transition: all 0.3s ease;
}

/* content.jsx style */
.container-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 1rem;
  padding: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
}
.container-content .content {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  border: 4px solid #102e50;
  border-radius: 10px;
  list-style: none;
  margin-bottom: 1rem;
}

.content {
  background-color: rgb(0, 0, 0);
  height: auto;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.img-content {
  width: 100%;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
  display: block;
}

.span-content {
  margin-top: 1rem;
  font-size: 1.2rem;
  font-family: "Halvetica Neue";
  color: #ffffff;
  /* margin: 1rem 0 1rem 0; */
}

.save-detail {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0 1rem;
  margin-top: 0.5rem;
  margin-bottom: 6px;
}

.save-icon {
  cursor: pointer;
  color: #ffffff;
  font-size: 1.5rem;
  margin-right: 2rem;
}

.detail-content {
  cursor: pointer;
  font-size: 1.2rem;
  font-family: "Halvetica Neue";
  color: #6286ff;
  /* margin: 1rem 0 0.5rem 0; */
  font-weight: 800;
  display: flex;
  justify-content: center;
}

.detail-content:hover {
  color: #0e1d72;
  transition: all 0.3s ease;
}

@media (max-width: 768px) and (min-width: 450px) {
  .main-content {
    transition: margin-left 0.3s ease;
    margin-left: 0;
  }

  .main-content.shifted {
    overflow: hidden;
    margin-left: 100px;
  }

  .navbar {
    flex-direction: row;
    height: auto;
    padding: 0.5rem;
  }

  .left-section {
    justify-content: center;
    margin-bottom: 0.5rem;
  }

  .search-form {
    position: static;
    transform: none;
    width: 100%;
    justify-content: center;
    margin-bottom: 0.5rem;
  }

  .search-form input {
    width: 80%; /* agar menyesuaikan layar kecil */
    font-size: 1rem;
  }

  .login {
    margin-bottom: 0.5rem;
  }

  .logo {
    display: none;
  }

  .list-menu {
    width: 200px;
  }

  .login-teks {
    display: inline;
    color: white;
    font-size: 1.2rem;
    font-weight: 800;
    cursor: pointer;
    margin-right: 2.5rem;
    font-family: "Helvetica Neue", sans-serif;
    text-decoration: none;
    white-space: nowrap; /* Prevent wrapping to the next line */
  }

  .container-content .content {
    width: 90%;
  }
}

@media (max-width: 450px) {
  .main-content {
    transition: margin-left 0.3s ease;
    margin-left: 0;
  }

  .main-content.shifted {
    overflow: hidden;
    margin-left: 100px;
  }

  .navbar {
    flex-direction: row;
    height: auto;
    padding: 0.5rem;
  }

  .left-section {
    justify-content: center;
    margin-bottom: 0.5rem;
  }

  .search-form {
    position: static;
    transform: none;
    width: 100%;
    justify-content: center;
    margin-bottom: 0.5rem;
  }

  .search-form input {
    width: 80%;
    font-size: 1rem;
  }

  .login {
    margin-bottom: 0.5rem;
  }

  .logo {
    display: none;
  }

  .list-menu {
    width: 200px;
  }

  .login-teks {
    display: inline;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    margin-right: 1.5rem;
    font-family: "Helvetica Neue", sans-serif;
    text-decoration: none;
    white-space: nowrap; /* Prevent wrapping to the next line */
  }

  .container-content .content {
    width: 90%;
  }
}
