body {
  margin: 0;
  padding: 0;
}

.main-content {
  transition: margin-left 0.3s ease;
  margin-left: 0;
}

.main-content.shifted {
  overflow: hidden;
  margin-left: 210px;
}

nav {
  width: 100vw;
  height: 4rem;
  display: flex;
  align-items: center;
  background-color: white;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  position: relative;
}

.container {
  display: flex;
  align-items: center;
  width: 100%;
  z-index: 100;
}

.logo {
  margin-left: 1.5rem;
  margin-top: 1rem;
}

.logo img {
  width: 7rem;
  height: 7rem;
}

/* Sidebar menu */
.list-menu {
  cursor: pointer;
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100vh;
  background-color: white;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  z-index: 10;
}

.list-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.list-menu li {
  margin-bottom: 1rem;
  font-size: 1.2rem;
}
